<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="modbus_test.Properties.Settings.my_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\my_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="modbus_test.Properties.Settings.modbus_sqlConnectionString"
            connectionString="Data Source=YANG_ENG-PC;Initial Catalog=modbus_sql;Persist Security Info=True;User ID=sa2;password=&quot;123456&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>